# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.RDataTmp
.Renviron
.Renviron.local

# Knitr / R Markdown
*_cache/
*_files/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
